<!DOCTYPE html>
<html lang="pt-br">
<head>
	<%- include("../favicon") %>
	<link rel="manifest" href="<%- root %>/app/<%- predio.url %>/manifest.webmanifest" />

	<title><%= predio.nome %> - Visita Virtual ESPM</title>

	<!--
		Babylon.js 6.22.1
		https://github.com/BabylonJS/Babylon.js/releases/download/6.22.1/cdnSnapshot.zip
	-->
	<!--
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js"></script>
	<script src="https://assets.babylonjs.com/generated/Assets.js"></script>
	-->
	<script src="<%- root %>/app/<%- predio.url %>/assets/lib/babylonjs/recast.js"></script>
	<script src="<%- root %>/app/<%- predio.url %>/assets/lib/babylonjs/ammo.js"></script>
	<script src="<%- root %>/app/<%- predio.url %>/assets/lib/babylonjs/havok/HavokPhysics_umd.js"></script>
	<script src="<%- root %>/app/<%- predio.url %>/assets/lib/babylonjs/cannon.js"></script>
	<script src="<%- root %>/app/<%- predio.url %>/assets/lib/babylonjs/Oimo.js"></script>
	<script src="<%- root %>/app/<%- predio.url %>/assets/lib/babylonjs/earcut.min.js"></script>
	<script src="<%- root %>/app/<%- predio.url %>/assets/lib/babylonjs/babylon.js"></script>
	<script src="<%- root %>/app/<%- predio.url %>/assets/lib/babylonjs/materialsLibrary/babylonjs.materials.min.js"></script>
	<script src="<%- root %>/app/<%- predio.url %>/assets/lib/babylonjs/proceduralTexturesLibrary/babylonjs.proceduralTextures.min.js"></script>
	<script src="<%- root %>/app/<%- predio.url %>/assets/lib/babylonjs/postProcessesLibrary/babylonjs.postProcess.min.js"></script>
	<script src="<%- root %>/app/<%- predio.url %>/assets/lib/babylonjs/loaders/babylonjs.loaders.js"></script>
	<script src="<%- root %>/app/<%- predio.url %>/assets/lib/babylonjs/serializers/babylonjs.serializers.min.js"></script>
	<script src="<%- root %>/app/<%- predio.url %>/assets/lib/babylonjs/gui/babylon.gui.min.js"></script>
	<script src="<%- root %>/app/<%- predio.url %>/assets/lib/babylonjs/inspector/babylon.inspector.bundle.js"></script>

	<style type="text/css">
		* {
			box-sizing: border-box;
			margin: 0;
		}

		html, body {
			overflow: hidden;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			font-size: 16px;
			font-family: "Segoe UI", sans-serif;
		}

		button {
			font-size: inherit;
			font-family: inherit;
			font-weight: bold;
			cursor: pointer;
			border-radius: 5px;
			box-shadow: none;
			background: none;
			padding: 0.5rem 1rem;
			border: 1px solid white;
			outline: none;
			margin: 0.5rem;
		}

		button:hover, button:focus {
			opacity: 0.8;
			outline: none;
		}

		button:active {
			opacity: 0.6;
			outline: none;
		}

		.menu {
			position: fixed;
			z-index: 2;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 10vh 15vw;
		}

		#renderCanvas {
			width: 100%;
			height: 100%;
			touch-action: none;
		}

		#canvasZone {
			width: 100%;
			height: 100%;
		}
	</style>
</head>
<body>
	<div id="canvasZone"><canvas id="renderCanvas"></canvas></div>
	<script type="text/javascript">
		//<![CDATA[
		"use strict";

		const predio = <%- JSON.stringify(predio) %>;

		//]]>
	</script>
	<script src="<%- root %>/app/<%- predio.url %>/assets/js/visita.js"></script>

	<% if (offline) { %>
	<script type="text/javascript">
		//<![CDATA[
		"use strict";
		if ("serviceWorker" in navigator) {
			const promise = navigator.serviceWorker.register("<%- root %>/app/<%- predio.url %>/sw");
			if (promise && ("then" in promise)) {
				promise.then(function (registration) {
					if (registration && ("onupdatefound" in registration) && registration.active) {
						registration.onupdatefound = function () {
							setTimeout(function () {
								if (confirm("Nova atualização encontrada! Recarregar a página agora?"))
									window.location.reload();
							}, 30000);
						};
					}
				});
			}
		}

		//]]>
	</script>
	<% } %>
</body>
</html>
