<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= predio.nome %> - Visita Virtual ESPM</title>

    <!--
		Babylon.js 6.22.1
		https://github.com/BabylonJS/Babylon.js/releases/download/6.22.1/cdnSnapshot.zip
	-->
    <!--
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js"></script>
    <script src="https://assets.babylonjs.com/generated/Assets.js"></script>
	-->
    <script src="<%- staticRoot %>/lib/babylonjs/recast.js"></script>
    <script src="<%- staticRoot %>/lib/babylonjs/ammo.js"></script>
    <script src="<%- staticRoot %>/lib/babylonjs/havok/HavokPhysics_umd.js"></script>
    <script src="<%- staticRoot %>/lib/babylonjs/cannon.js"></script>
    <script src="<%- staticRoot %>/lib/babylonjs/Oimo.js"></script>
    <script src="<%- staticRoot %>/lib/babylonjs/earcut.min.js"></script>
    <script src="<%- staticRoot %>/lib/babylonjs/babylon.js"></script>
    <script src="<%- staticRoot %>/lib/babylonjs/materialsLibrary/babylonjs.materials.min.js"></script>
    <script src="<%- staticRoot %>/lib/babylonjs/proceduralTexturesLibrary/babylonjs.proceduralTextures.min.js"></script>
    <script src="<%- staticRoot %>/lib/babylonjs/postProcessesLibrary/babylonjs.postProcess.min.js"></script>
    <script src="<%- staticRoot %>/lib/babylonjs/loaders/babylonjs.loaders.js"></script>
    <script src="<%- staticRoot %>/lib/babylonjs/serializers/babylonjs.serializers.min.js"></script>
    <script src="<%- staticRoot %>/lib/babylonjs/gui/babylon.gui.min.js"></script>
    <script src="<%- staticRoot %>/lib/babylonjs/inspector/babylon.inspector.bundle.js"></script>

    <style>
        html,
        body {
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #renderCanvas {
            width: 100%;
            height: 100%;
            touch-action: none;
        }

        #canvasZone {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="canvasZone"><canvas id="renderCanvas"></canvas></div>
	<script type="text/javascript">
		//<![CDATA[
		"use strict";

		const predio = <%- JSON.stringify(predio) %>;

		//]]>
	</script>
    <script src="<%- staticRoot %>/js/visita.js"></script>
</body>
</html>
