<table class="table table-flush table-striped table-hover" id="tabela"></table>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	var tabela = prepareDataTable("tabela", {
		order: [[1, "asc"]],
		deferRender: true,
		columns: [
			{ title: "", "class": "col-min", searchable: false, orderable: false, data: "id", render: function (v, type, row) { return '<a target="_blank" title="Editar" href="<%- root %>/tour/editar?id=' + row.id + '" class="btn btn-sm btn-outline-primary"><i class="fa fa-fw fa-edit"></i></a> <a target="_blank" title="Visitar" href="<%- root %>/virtual/' + row.url + '/" class="btn btn-sm btn-outline-success"><i class="fa fa-fw fa-external-link-alt"></i></a> <a target="_blank" title="Visitar (Offline)" href="<%- root %>/app/' + row.url + '/" class="btn btn-sm btn-outline-info"><i class="fa fa-fw fa-download"></i></a> <button title="Excluir" type="button" data-excluir="1" class="btn btn-sm btn-outline-danger"><i class="fa fa-fw fa-times"></i></button>'; } },
			{ title: "Nome", render: encode, data: "nome" },
			{ title: "URL", render: encode, data: "url" },
			{ title: "Usuário", render: encode, data: "usuario" },
			{ title: "Criação", "class": "col-min text-right", "type": "customdateint", data: "criacao" }
		],
		data: <%- JSON.stringify(lista) %>,
		export: { xlsx: true, title: "Tours" }
	});

	$("#tabela").on("click", "tbody button", function () {
		if (JsonWebApi.active)
			return;

		var trClicada = this.parentNode.parentNode,
			nome = null,
			predio = tabela.row(trClicada).data();

		if (this.getAttribute("data-excluir")) {
			Swal.okcancel({
				html: 'Tem certeza que deseja excluir o tour "' + predio.nome + '"? Esta operação NÃO pode ser desfeita!<br/><br/>Para confirmar a exclusão, por favor, digite abaixo o nome do tour conforme exibido acima.<br/><br/><label for="txtExcluirNome">Nome do tour</label><input type="text" class="form-control" spellcheck="false" autocomplete="off" id="txtExcluirNome" />',
				confirmButtonText: "Excluir",
				preConfirm: function () {
					nome = $("#txtExcluirNome").val().toLowerCase();
					return true;
				}
			}, null, true).then(function (result) {
				if (JsonWebApi.active || !trClicada)
					return;

				if (result.value) {
					if (nome !== predio.nome.toLowerCase()) {
						Swal.error("O nome do tour não confere! " + emoji.sad);
						return;
					}

					Swal.wait();

					JsonWebApi.delete("<%- root %>/api/predio/excluir", function (response) {
						if (response.success) {
							Swal.success("Tour excluído com sucesso! " + emoji.happy);
							tabela.row(trClicada).remove().draw();
						} else {
							Swal.error(response.value + " " + emoji.sad);
						}
						trClicada = null;
					}, "id", predio.id);
				}
			});
		}
	});

	//]]>
</script>
