<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label for="nome">Nome</label>
			<input id="nome" name="nome" maxlength="50" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
		</div>
	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<label for="nome_curto">Nome Curto</label>
			<input id="nome_curto" name="nome_curto" maxlength="50" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome_curto : '') %>" />
		</div>
	</div>
</div>

<div>
	<div class="form-group">
		<label for="descricao">Descrição</label>
		<textarea id="descricao" name="descricao" maxlength="500" class="form-control" rows="5"><%=(item ? item.descricao : '') %></textarea>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label for="nome_en">Nome em Inglês</label>
			<input id="nome_en" name="nome_en" maxlength="50" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome_en : '') %>" />
		</div>
	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<label for="nome_curto_en">Nome Curto em Inglês</label>
			<input id="nome_curto_en" name="nome_curto_en" maxlength="50" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome_curto_en : '') %>" />
		</div>
	</div>
</div>

<div>
	<div class="form-group">
		<label for="descricao_en">Descrição em Inglês</label>
		<textarea id="descricao_en" name="descricao_en" maxlength="500" class="form-control" rows="5"><%=(item ? item.descricao_en : '') %></textarea>
	</div>
</div>

<div class="row">
	<% if (usuario.admin) { %>
	<div class="col-sm-9">
		<div class="form-group">
			<label for="idusuario">Usuário</label>
			<div class="cb-search">
				<select id="idusuario" name="idusuario" class="form-control">
					<% for (let i = 0; i < usuarios.length; i++) { %>
					<option value="<%- usuarios[i].id %>" <%- (((item && item.idusuario === usuarios[i].id) || (!item && usuario.id === usuarios[i].id)) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
					<% } %>
				</select>
			</div>
		</div>
	</div>
	<% } %>

	<div class="col-sm-3">
		<div class="form-group">
			<label for="rgb">Cor</label>
			<input id="rgb" name="rgb" class="form-control" type="color" value="<%=(item ? item.rgb : '#a80532') %>" />
		</div>
	</div>
</div>

<div class="form-group <%- (item ? '' : 'mb-0') %>">
	<label for="imagem">Imagem</label>
	<input id="imagem" name="imagem" class="form-control" type="file" accept="image/jpeg" />
</div>

<% if (item) { %>
<div class="form-group mb-0">
	<label for="imagem-atual">Imagem Atual</label>
	<div>
		<img id="imagem-atual" style="width: 800px; max-width: 100%;" src="<%- root %>/app/tour/imagem/<%- item.id %>" />
	</div>
</div>
<% } %>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	let vez = 0;

	prepareCbSearch(document.getElementById("idpredio"));

	//<% if (usuario.admin) { %>
	prepareCbSearch(document.getElementById("idusuario"));
	//<% } %>

	$("#form").validate({
		rules: {
			nome: {
				required: true
			},
			nome_en: {
				required: true
			},
			nome_curto: {
				required: true
			},
			nome_curto_en: {
				required: true
			},
			idpredio: {
				required: true
			},
			rgb: {
				required: true
			},
			//<% if (!item) { %>
			imagem: {
				required: true
			},
			//<% } %>
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Swal.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/local/editar", new FormData(form), function (response) {
				if (response.success) {
					if ($("#imagem").val()) {
						vez++;
						$("#imagem").val("");
						$("#imagem-atual").attr("src", "<%- root %>/app/tour/imagem/<%- item.id %>?" + vez);
					}
					Swal.success("Local alterado com sucesso! " + emoji.happy);
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/local/criar", new FormData(form), function (response) {
				if (response.success) {
					resetForm("#form");
					//<% if (usuario.admin) { %>
					setCbSearch(document.getElementById("idusuario"), "<%- usuario.id %>");
					//<% } %>
					Swal.success("Local criado com sucesso! " + emoji.happy);
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
